# Entornos
venv/
__pycache__/

# Archivos de control
.git/
.gitignore
.dvc/
.dvcignore
*.dvc

# Datos pesados (La API en producción no los necesita, solo usa el modelo)
data/
tests/
*.log

# Jupyter
.ipynb_checkpoints/